@import "tailwindcss";

@plugin "daisyui" {
  themes: lemonade --default, black --prefersdark;
}

@plugin "daisyui/theme" {
  name: "rana";
  default: false;
  prefersdark: false;
  color-scheme: "dark";
  --color-base-100: oklch(28% 0.091 267.935);
  --color-base-200: oklch(37% 0.146 265.522);
  --color-base-300: oklch(42% 0.199 265.638);
  --color-base-content: oklch(98% 0.001 106.423);
  --color-primary: oklch(89% 0.196 126.665);
  --color-primary-content: oklch(14% 0.004 49.25);
  --color-secondary: oklch(80% 0.105 251.813);
  --color-secondary-content: oklch(28% 0.091 267.935);
  --color-accent: oklch(66% 0.295 322.15);
  --color-accent-content: oklch(14% 0.004 49.25);
  --color-neutral: oklch(42% 0.199 265.638);
  --color-neutral-content: oklch(98% 0.001 106.423);
  --color-info: oklch(62% 0.214 259.815);
  --color-info-content: oklch(98% 0.001 106.423);
  --color-success: oklch(70% 0.14 182.503);
  --color-success-content: oklch(98% 0.001 106.423);
  --color-warning: oklch(85% 0.199 91.936);
  --color-warning-content: oklch(98% 0.001 106.423);
  --color-error: oklch(64% 0.246 16.439);
  --color-error-content: oklch(98% 0.001 106.423);
  --radius-selector: 0rem;
  --radius-field: 0rem;
  --radius-box: 0rem;
  --size-selector: 0.28125rem;
  --size-field: 0.28125rem;
  --border: 1.5px;
  --depth: 0;
  --noise: 0;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}